$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

@import url(http://fonts.googleapis.com/css?family=Raleway:400,700,600,300,500,100,200,800,900);

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;

}
/* Space out content a bit */
body {
  padding-top: 20px;
  overflow-x: hidden;
  font-family: 'Raleway', sans-serif;
}
@mixin phone {
  @media (max-width: #{$screen-xs-max}) {
    @content;
  }

}
@mixin tablet {
  @media (min-width: #{$screen-sm-min}) and (max-width: #{$screen-sm-max}) {
    @content;
  }

}
@mixin desktop {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }

}
$font-large: 40px;
$font-small: 15px;

body {
  font-size: $font-large;

  @include phone {
    font-size: $font-small;
  }

}
.navbar {
  font-size: $font-small;
}
.navbar-brand.active {
  color: #f2f2f2;
}
.navbar-header .navbar-brand {
  color: #f2f2f2;
}
.container-fluid {
  @include desktop {
    padding-top: 0;
    max-width: 1300px;
  }
  @include tablet {
    padding: 0;

  }
  @include phone {
    padding: 0;
  }

}
.section {
  height: 800px;

  @include tablet {
    height: 400px;
  }
  @include phone {
    height: 200px;
  }

}
.btn {

  border: 2px solid #f2f2f2;
  background: transparent;
  color: #f2f2f2;

  /* CSS Transition */
  -webkit-transition: background 0.2s ease-in-out, border 0.2s ease-in-out;
  -moz-transition: background 0.2s ease-in-out, border 0.2s ease-in-out;
  -ms-transition: background 0.2s ease-in-out, border 0.2s ease-in-out;
  -o-transition: background 0.2s ease-in-out, border 0.2s ease-in-out;
  transition: background 0.2s ease-in-out, border 0.2s ease-in-out;

  font-size: $font-large;
  font-weight: bold;

  @include phone {
    font-size: $font-small;
  }

}
.btn:hover {
  background: rgba(242, 242, 242, 0.25);
}
.angular-google-map-container {
  height: 800px;
  width: 100%;

  @include tablet {
    height: 400px;
  }
  @include phone {
    height: 200px;
  }

}
h2 {
  font-size: 80px;
  font-weight: bold;

  @include tablet {
    font-size: 40px;

  }
  @include phone {
    font-size: 20px;
  }

}
.row {
  margin: 0;
  padding: 0;

}
.pic-container {
  padding-top: 10px;

  @include phone {
    padding-right: 5px;
    padding-left: 5px;
  }

}
.gm-style-iw + div {
  display: none;
}
#hero {
  background: url("../images/resized-hero.jpg") no-repeat center center;
  background-size: auto 800px;
  background-height: 800px;
  height: 800px;

  @include desktop {
    background: url("../images/resized-hero.jpg") no-repeat center center fixed;

  }
  @include phone {
    height: 400px;
    background-height: 400px;

  }
  h2 {
    padding-top: 350px;
    color: white;

    @include tablet {
      padding-top: 200px;

    }
    @include phone {
      padding-top: 200px;
    }
  }

}
#date {
  height: 600px;

  @include tablet {
    height: 300px;
  }
  @include phone {
    height: 130px;

  }
  div {
    padding-top: 200px;

    @include tablet {
      padding-top: 75px;

    }
    @include phone {
      padding-top: 20px;
    }
  }

}
#ceremony {
  background: url("../images/resized-ceremony.jpg") no-repeat center center;
  background-size: auto 800px;
  background-height: 800px;
  height: 800px;

  @include desktop {
    background: url("../images/resized-ceremony.jpg") no-repeat center center fixed;

  }
  @include phone {
    height: 400px;
    background-height: 400px;
    background-size: auto 400px;

  }
  div {
    padding-top: 175px;
    color: white;

    @include tablet {
      padding-top: 30px;

    }
    @include phone {
      padding-top: 10px;
    }
  }

}
#reception {
  background: url("../images/resized-reception.jpg") no-repeat center center;
  background-size: auto 800px;
  background-height: 800px;
  height: 800px;

  @include desktop {
    background: url("../images/resized-reception.jpg") no-repeat center center fixed;

  }
  @include phone {
    height: 400px;
    background-height: 400px;
    background-size: auto 400px;

  }
  div {
    padding-top: 175px;
    color: white;

    @include tablet {
      padding-top: 10px;

    }
    @include phone {
      padding-top: 40px;
    }
  }

}
#registry {
  background: url("../images/resized-registry.jpg") no-repeat center center;
  background-size: auto 800px;
  background-height: 800px;
  height: 800px;

  @include desktop {
    background: url("../images/resized-registry.jpg") no-repeat center center fixed;

  }
  @include phone {
    height: 400px;
    background-height: 400px;
    background-size: auto 400px;

  }
  div {
    padding-top: 325px;
    color: white;

    @include tablet {
      padding-top: 290px;

    }
    @include phone {
      padding-top: 175px;
    }
  }

}
#photos {
  font-size: $font-large;
  @include phone {
    font-size: $font-small;
  }

}
#rsvp {
  background: url("../images/resized-rsvp.jpg") no-repeat center center;
  background-size: auto 800px;
  background-height: 800px;
  height: 800px;

  @include desktop {
    background: url("../images/resized-rsvp.jpg") no-repeat center center fixed;

  }
  @include phone {
    height: 400px;
    background-height: 400px;
    background-size: auto 400px;

  }
  div {
    padding-top: 500px;
    color: white;

    @include phone {
      padding-top: 270px;
    }
  }
}
