$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

@import url(http://fonts.googleapis.com/css?family=Raleway:400,700,600,300,500,100,200,800,900);

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;

}
/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  overflow-x: hidden;
  font-family: 'Raleway', sans-serif;

}
/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;

}
/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;

  /* Make the masthead heading the same height as the navigation */
  h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }

}
/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;

}
.container-narrow > hr {
  margin: 30px 0;

}
/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;

  .btn {
    font-size: 21px;
    padding: 14px 24px;
  }

}
/* Supporting marketing content */
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }

}
@mixin phone {
  @media (max-width: #{$screen-xs-max}) {
    @content;
  }

}
@mixin tablet {
  @media (min-width: #{$screen-sm-min}) and (max-width: #{$screen-sm-max}) {
    @content;
  }

}
@mixin desktop {
  @media (min-width: #{$screen-md-min}) {
    @content;
  }

}
$font-large: 40px;
$font-small: 15px;

body {
  font-size: $font-large;

  @include phone {
    font-size: $font-small;
  }

}
.navbar {
  font-size: $font-small;
}
.container-fluid {
  @include desktop {
    padding-top: 0;
    max-width: 1300px;
  }
  @include tablet {
    padding: 0;

  }
  @include phone {
    padding: 0;
  }

}
.section {
  height: 800px;

  @include tablet {
    height: 400px;
  }
  @include phone {
    height: 200px;
  }

}
.btn {

  border: 2px solid #f2f2f2;
  background: transparent;
  color: #f2f2f2;

  /* CSS Transition */
  -webkit-transition: background 0.2s ease-in-out, border 0.2s ease-in-out;
  -moz-transition: background 0.2s ease-in-out, border 0.2s ease-in-out;
  -ms-transition: background 0.2s ease-in-out, border 0.2s ease-in-out;
  -o-transition: background 0.2s ease-in-out, border 0.2s ease-in-out;
  transition: background 0.2s ease-in-out, border 0.2s ease-in-out;

  font-size: $font-large;
  font-weight: bold;

  @include phone {
    font-size: $font-small;
  }

}
.btn:hover {
  background: rgba(242, 242, 242, 0.25);
}
.angular-google-map-container {
  height: 800px;
  width: 100%;

  @include tablet {
    height: 400px;
  }
  @include phone {
    height: 200px;
  }

}
h2 {
  font-size: 80px;
  font-weight: bold;

  @include tablet {
    font-size: 40px;

  }
  @include phone {
    font-size: 20px;
  }

}
.row {
  margin: 0;
  padding: 0;

}
.pic-container {
  padding-top: 10px;
}
.gm-style-iw + div {
  display: none;
}
#hero {
  background: url("../images/hero.jpg") no-repeat center center fixed;
  background-size: 100% auto;
  background-height: 800px;

  h2 {
    padding-top: 350px;
    color: white;

    @include tablet {
      padding-top: 200px;

    }
    @include phone {
      padding-top: 75px;
    }
  }

}
#date {
  height: 600px;

  @include tablet {
    height: 700px;
  }
  @include phone {
    height: 130px;

  }
  div {
    padding-top: 200px;

    @include tablet {
      padding-top: 750px;

    }
    @include phone {
      padding-top: 20px;
    }
  }

}
#ceremony {
  background: url("../images/ceremony2.jpg") no-repeat center center fixed;
  background-size: 100% auto;
  background-height: 800px;

  div {
    padding-top: 175px;
    color: white;

    @include tablet {
      padding-top: 100px;

    }
    @include phone {
      padding-top: 10px;
    }
  }

}
#reception {
  background: url("../images/reception2.jpg") no-repeat center center fixed;
  background-size: 100% auto;
  background-height: 800px;

  div {
    padding-top: 175px;
    color: white;

    @include tablet {
      padding-top: 100px;

    }
    @include phone {
      padding-top: 0;
    }
  }

}
#registry {
  background: url("../images/registry.jpg") no-repeat center center fixed;
  background-size: 100% auto;
  background-height: 800px;
  div {
    padding-top: 325px;
    color: white;

    @include tablet {
      padding-top: 100px;

    }
    @include phone {
      padding-top: 75px;
    }
  }

}
#photos {
  font-size: $font-large;
  @include phone {
    font-size: $font-small;
  }

}
#rsvp {
  background: url("../images/rsvp2.jpg") no-repeat center center fixed;
  background-size: 100% auto;
  background-height: 800px;

  div {
    padding-top: 500px;
    color: white;

    @include tablet {
      padding-top: 100px;

    }
    @include phone {
      padding-top: 85px;
    }
  }
}
