<!-- <div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active">
      <a ng-click="scrollTo('date')">Date</a>
    </li>
    <li>
      <a ng-click="scrollTo('ceremony')">Ceremony</a>
    </li>
    <li>
      <a ng-click="scrollTo('reception')">Reception</a>
    </li>
    <li>
      <a ng-click="scrollTo('registry')">Registry</a>
    </li>
    <li>
    <a ng-click="scrollTo('photos')">Photos</a>
  </li>
  <li>
    <a ng-click="scrollTo('rsvp')">RSVP</a>
    </li>
  </ul>
  <h3 class="text-muted">John</h3>
</div> -->
<img src="../images/resized-hero.jpg" alt="" class="img-responsive">
<div id="date" class="row text-center section">
  <h2 class="timer">Saturday, June 20th, 2015</h2>
  <timer end-time="1434837600000">{{days}} days, {{hours}} hours, {{minutes}} minutes, {{seconds}} seconds.</timer>
</div>
<div id="ceremony" class="row text-center section">
  <img src="../images/resized-ceremony.jpg" alt="" class="img-responsive">
</div>
<div id="reception" class="row text-center section">
  <img src="../images/resized-reception.jpg" alt="" class="img-responsive">
</div>

<img id="directions" src="../images/resized-directions.jpg" alt="" class="img-responsive">

<div id="map" class="row text-center section">
  <ui-gmap-google-map center="map.center" zoom="map.zoom" options="options" class="gmap">
    <!-- <ui-gmap-markers models="locations" idKey="'id'" coords="'loc'" click="'onClick'"> -->
    <ui-gmap-windows show="'show'" models="locations" idKey="'id'" coords="'loc'" click="'onClick'">
      <div ng-non-bindable>{{text}}</div>
    </ui-gmap-windows>
    <!-- </ui-gmap-markers> -->
  </ui-gmap-google-map>
</div>
<br>
<div id="registry" class="row text-center section">
  <h2>Registry</h2>
</div>
<br>
<div id="photos" class="row text-center">
  <h2>Engagement Photography</h2>
  <div class="col-xs-12">
    by <a target="_blank" href="http://www.jlbwedding.com/">JLB Wedding</a>
  </div>
  <div class="col-xs-6 col-md-3 pic-container" ng-repeat="photo in photos">
    <img ng-src="{{photo}}" alt="" class="img-responsive center-block">
  </div>
</div>
<br>
<div id="rsvp" class="row text-center">
  RSVP STUFF
</div>
