<!-- <div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active">
      <a ng-click="scrollTo('date')">Date</a>
    </li>
    <li>
      <a ng-click="scrollTo('ceremony')">Ceremony</a>
    </li>
    <li>
      <a ng-click="scrollTo('reception')">Reception</a>
    </li>
    <li>
      <a ng-click="scrollTo('registry')">Registry</a>
    </li>
    <li>
    <a ng-click="scrollTo('photos')">Photos</a>
  </li>
  <li>
    <a ng-click="scrollTo('rsvp')">RSVP</a>
    </li>
  </ul>
  <h3 class="text-muted">John</h3>
</div> -->

<!-- <img src="images/john_jes.JPG" class="img-responsive center-block" alt="John and Jesyka!"> -->
<div class="date-block">
  <div class="date-text">
    <p>JOHN + JESYKA</p>
  </div>
</div>
<br>
<div id="date" class="row text-center">
  <h2>June 20th, 2015</h4>
  <timer end-time="1434837600000">{{days}} days, {{hours}} hours, {{minutes}} minutes, {{seconds}} seconds.</timer>
</div>
<br>
<div id="ceremony" class="row text-center">
  <h2>The Ceremony</h4>
  <ui-gmap-google-map center="ceremony.center" zoom="ceremony.zoom" options="options" class="gmap">
    <ui-gmap-marker coords="ceremony.marker" idkey="ceremony"></ui-gmap-marker>
  </ui-gmap-google-map>
</div>
<br>
<div id="reception" class="row text-center">
  <h2>The Reception</h4>
  <ui-gmap-google-map center="reception.center" zoom="reception.zoom" options="options" class="gmap">
    <ui-gmap-marker coords="reception.marker" idkey="reception"></ui-gmap-marker>
  </ui-gmap-google-map>
</div>
<br>
<div id="registry" class="row text-center">
Registry link goes here
</div>
<br>
<div id="photos" class="row text-center">
Pictures go here
</div>
<br>
<div id="rsvp" class="row text-center">
  RSVP STUFF
</div>
