<!-- <div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active">
      <a ng-click="scrollTo('date')">Date</a>
    </li>
    <li>
      <a ng-click="scrollTo('ceremony')">Ceremony</a>
    </li>
    <li>
      <a ng-click="scrollTo('reception')">Reception</a>
    </li>
    <li>
      <a ng-click="scrollTo('registry')">Registry</a>
    </li>
    <li>
    <a ng-click="scrollTo('photos')">Photos</a>
  </li>
  <li>
    <a ng-click="scrollTo('rsvp')">RSVP</a>
    </li>
  </ul>
  <h3 class="text-muted">John</h3>
</div> -->
  <img src="../images/hero_img.jpg" alt="" class="img-responsive">
<div id="date" class="row text-center section">
  <h2 class="timer">Saturday, June 20th, 2015</h2>
  <timer end-time="1434837600000">{{days}} days, {{hours}} hours, {{minutes}} minutes, {{seconds}} seconds.</timer>
</div>
<div id="ceremony" class="row text-center section">
  <img src="../images/ceremony.jpg" alt="" class="img-responsive">
</div>
<br>
<div id="reception" class="row text-center section">
  <img src="../images/reception.jpg" alt="" class="img-responsive">
</div>
<br>
<div id="map" class="row text-center section">
  <ui-gmap-google-map center="map.center" zoom="map.zoom" options="options" class="gmap">
    <ui-gmap-markers models="locations" coords="'loc'"></ui-gmap-markers>
  </ui-gmap-google-map>
</div>
<br>
<div id="registry" class="row text-center section">
  <h2>Registry</h2>
</div>
<br>
<div id="photos" class="row text-center">
  <h2>Engagement Photos</h2>
  <div class="col-xs-12 col-sm-6 col-md-3 pic-container" ng-repeat="photo in photos">
    <img src="{{photo}}" alt="" class="img-responsive">
  </div>
</div>
<br>
<div id="rsvp" class="row text-center">
  RSVP STUFF
</div>
